@model UserViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1> are you sure you want to Delete this Department!!</h1>
<br />
<br />
<form asp-action="Delete" asp-route-id="@Model.Id">


    <partial name="UserPartialViews/DeleteDetailsEmployeePartialView" model="Model"></partial>
   

   <input  type="Submit" value="Delete" class="btn btn-danger"/>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

