@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}
<div class="main-agileinfo">


	<div asp-validation-summary="All"></div>

	<div class="agileits-top">

		<form asp-action="ResetPassword">
			
		    <input class="text" asp-for="Password" placeholder="Password">
			<input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">

			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
