@model EmployeeViewModel
<div class="form-group">
    <label asp-for="Name" for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Age" for="Age" class="col-form-label"></label>
    <input asp-for="Age" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Adderss" for="Adderss" class="col-form-label"></label>
    <input asp-for="Adderss" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Email" for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="salary" for="salary" class="col-form-label"></label>
    <input asp-for="salary" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="PhoneNumber" for="PhoneNumber" class="col-form-label"></label>
    <input asp-for="PhoneNumber" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="HiringData" for="HiringData" class="col-form-label"></label>
    <input asp-for="HiringData" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="IsActive" for="IsActive" class="form-check"></label>
    <input asp-for="IsActive" class="form-check" readonly />
</div>
<br />